@font-face {
    font-family: 'JL Pirelli Trial Light Trial';
    src: url('JLPirelliTrial-Light.woff2') format('woff2'),
        url('JLPirelliTrial-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

